#la_page{
    background: rgba(0, 0, 0, 0.897);
  }
nav {
  max-width: 1100px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  position: -webkit-sticky; 
  position: sticky;
  top: 0; 
  background-color: white; 
  z-index: 1000; 
  border-radius: 10px;
  }
  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
  }
  nav li {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 0.9rem;
    cursor: pointer;
    position: relative;
    transition: 0.3s ease;
    padding: 20px 0;
    list-style: none;
   color:  rgb(95, 4, 170);
  }
  nav li:first-child +li+li+li+li+li{
    color: rgb(95, 4, 170);
  }
  nav li:first-child +li+li+li+li+li:before {
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    background: rgb(95, 4, 170);
    transform: translateY(-20px);
  }
  nav li:hover:before {
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    background: rgb(95, 4, 170);
    transform: translateY(-20px);
  }
  nav li:last-child:before {
    background: none;
  }
  #language {
    background: rgba(128, 128, 128, 0.25);
    border-radius: 50px;
    padding: 8px 16px;
  }
  nav ul li a {
    text-decoration: none;
}
header{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.719),rgba(255, 255, 255, 0)), url(./assets/img/IMAGEPAGE2/parents.jpg);
    background-size: cover;
    height: 60vh;
    margin-bottom: 5%;
}
header h4{
    font-family: 'Montserrat', sans-serif;
    color: #f39659;
    transform: translateY(200%);
    margin-left: 70px;
    font-size: 1.3em;
}
header h1{
    font-family: 'Montserrat', sans-serif;
    color: white;
    transform: translateY(100%);
    margin-left: 70px;
    font-size: 2.3em;
}
header p{
    font-family: 'Montserrat', sans-serif;
    color: white;
    transform: translateY(100%);
    margin-left: 70px;
    font-size: 1.2em;
}
.entre{
    margin-bottom: 5%;
}
.entre h4{
    color: #f39659;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
}
.entre h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
}
.entre p{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
}
#ma_section{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 20px;
    margin-bottom: 8%;
    transform: translateY(5%);
}
#ligne{
    display: grid;
    grid-template-columns: 50% 50%;
}
.ecrit{
    font-family: 'Montserrat', sans-serif;
}
.ecrit h3{
    color: #353a8d;
    opacity: 0; 
    transform: translateY(10%); 
    transition: opacity 2s, transform 2s;
}
.ecrit h5{
    color: #353a8d;
}
.ecrit p{
    color: #fff;
}
.image{
    transform: translateY(2.5%);
    margin-left: 30px;
}
.métier{
    margin-bottom: 4%;
}
.métier h4{
    font-family: 'Montserrat', sans-serif;
    color: #f39659;
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 2%;
}
.métier h1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1.8em;
    color: white;
    animation: bounceAnimation 7s infinite;
}
.métier p{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    line-height: 250%;
    color: white;
}
.photos{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 6%;
    transition: transform 0.3s ease;
}
.photo {
  transition: transform 0.3s ease;
}

.photos .photo:hover {
  transform: scale(1.1);
}

.rangee{
    display: grid;
    grid-template-columns: 50% 50%;
}
.ecrits p{
    color: #353a8d;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.bas{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 20%;
    color: white;
  }
  .list h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1 em;
    text-transform: uppercase; 
  }
  .list h6{
    font-family: 'Montserrat', sans-serif;
    font-size: 1 em;
    text-transform: uppercase;
  }
  .list p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1 em;
    margin-left: 3px;
  }
  .contacte{
    color: #35428d;
  }
  footer {
    background: rgb(15, 15, 15);
    color: whitesmoke;
    padding: 25px;
  }
  footer h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 32px;
    text-align: center;
  }
  footer ul {
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
    margin: 0 auto;
  }
  .network{
    color: #353a8d;
  }
  #btnRetourHaut {
    display: none; 
    position: fixed; 
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 16px;
    cursor: pointer;
  }
  .up{
    color: #f39659;
    font-weight: 2000;
    font-size: 50px;
  }
  @media screen and (max-width: 895px) {
 
    body{
      font-size: 14px;
    }
    #ma_section{
      display: flex;
      flex-direction: column; 
    }
    .image img{
      transform: translateX(-10%);
      width: 500px;
    }
    .photos{
      display: flex;
      flex-direction: column; 
    }
    footer ul {
      flex-wrap: wrap;
      list-style: none;
    }
    footer li {
      margin: 5px;
    }
    #side-bar {
      position: absolute;
      width: 230px;
      height: 100%;
      background:white;
      top: 0;
      left: -230px;
      transition: 0.5s ease-out;
      z-index: 4;
    }
    .toggle-btn {
      position: absolute;
      top: 30px;
      left: 240px;
      cursor: pointer;
      height: 50px;
      width: 50px;
    }
    .toggle-btn span {
      width: 30px;
      height: 5px;
      border-radius: 5px;
      background:#353a8d;
      display: block;
      margin-top: 4px;
      transition: 0.3s ease;
      opacity: 0.8;
    }
    #side-bar.active {
      left: 0;
    }
    
    #side-bar.active nav ul{
      left: 0; 
    }
    nav{
      top: 0; 
      background-color: white; 
      z-index: 1000; 
      border-radius: 1px;
    }
    nav ul{
    display: block;
    }
    nav li:first-child +li+li+li+li+li:before{
      content: none;
    }
    nav li:hover:before{
    content: none;
    }
    .active span {
      position: absolute;
    }
    .active span:nth-child(1) {
      transform: rotate(45deg);
    }
    .active span:nth-child(2) {
      opacity: 0;
    }
    .active span:nth-child(3) {
      transform: rotate(-45deg);
    }
    .active ~ .main-header {
      opacity: 0.3;
    }
  }
  @keyframes bounceAnimation {
    0% { transform: translateY(0); }
    25% { transform: translateY(-10px); }
    50% { transform: translateY(0); }
    75% { transform: translateY(-5px); }
    100% { transform: translateY(0); }
  }